# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=ethglobal
POSTGRES_DATABASE=consciousnft

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=
OPENAI_API_KEY=